<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>
	<h1>Editar libro</h1>
	<form method="post" action="/update/<%= data.id %>">
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" id="nombre" value="<%= data.nombre %>">
		<br>
		<label for="autor">Descripción:</label>
		<input type="text" name="autor" id="autor" value="<%= data.autor %>">
		<br>
		<label for="precio">Precio:</label>
		<input type="text" name="precio" id="precio" value="<%= data.precio %>">
		<input for="imagen" type="file" class="form-control" name="imagen" value="<%= data.imagen %>" />
		<br>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
	<br>
	<a href="/">Volver al inicio</a>
</body>
</html>